<% if @value %>
  <h1>Hey Allie, you're right!</h1>

  <p>
  Click below to guess another student's name.
  </p>

<% else %>

  <h1>Hey Allie, ya missed.</h1>

  <p>
  You guessed <%= @guess %> but their name was <%= @real_first_name %>.
  </p>
  <p>
  Click below to guess another student's name. 
  </p>

<% end %>
<p>
<%= button_to "Guess another student", "/", :method => "get" %>
</p>
<footer>
<%= button_to "Reset", "/", :method => "post" %>
</footer>

